spring:
  config:
    import: 'aws-parameterstore:/config/husk/'
  datasource:
    url: ${jdbc.url}
    username: ${jdbc.username}
    password: ${jdbc.password}
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect
  mail:
    host: ${mail.host}
    port: ${mail.port}
    username: ${mail.username}
    password: ${mail.password}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

husk:
  auth:
    code-expiration: ${auth.code.expiration}
    key-prefix: ${auth.code.prefix}

aws:
  paramstore:
    enabled: true
    prefix: /config
    name: husk
